<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Registro de Personas</h2>
      <form [formGroup]="formGroup">
        <div class="form-group">
          <label>Identificacion</label>
          <input type="text" name="identificacion" formControlName="identificacion" class="form-control" [ngClass]="{ 'is-invalid':  control.identificacion.errors}" />
          <div *ngIf="control.identificacion.errors"  class="invalid-feedback">
            <div *ngIf="control.identificacion.errors.required">Se require la identificacion </div>
          </div>
        </div>


        <div class="form-group">
          <label>Nombre</label>
          <input type="text" name="nombre" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid':  control.nombre.errors}" />
          <div *ngIf ="control.nombre.errors"  class="invalid-feedback">
            <div *ngIf="control.nombre.errors.required">Se require la nombre </div>
          </div>
        </div>


        <div class="form-group">
          <label>Sexo</label>
          <input type="text" name="sexo" formControlName="sexo" class="form-control" [ngClass]="{ 'is-invalid':  control.sexo.errors}" />
          <div *ngIf="control.sexo.errors"  class="invalid-feedback">
            <div *ngIf="control.sexo.errors.required">Se require la nombre </div>
            <div *ngIf="control.sexo.errors.validSexo">{{control.sexo.errors.messageSexo}}</div>
          </div>
        </div>
        <div class="form-group">
          <label>Edad</label>
          <input type="number" name="edad" formControlName="edad" class="form-control" [ngClass]="{ 'is-invalid':  control.edad.errors}" />
          <div *ngIf="control.edad.errors"  class="invalid-feedback">
            <div *ngIf="control.edad.errors.required">Se require la edad </div>
          </div>
        </div>
        <div class="form-group">
          <label>Pulsación</label>
          {{persona.pulsacion}}
        </div>
        <div class="text-center">
          <button class="btn btn-primary mr-1" (click)="onSubmit()"  [disabled]="formGroup.invalid">Registrar</button>
          <button class="btn btn-secondary" type="reset">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
